.Footer {
    width: 100%;
    height: 100%;
    flex: 1;


    background: linear-gradient(180deg, var(--secondarry-bg-color) 0%,  var(--main-bg-color) 30%);;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.ButtonContainer {
    position: fixed;

    right: 2em;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.ButtonContainer:hover {
    transform: scale(1.1);
}

.OpenButton {
    position: absolute;

    margin-right: 1em;

    width: 0.25em;
    height: 2em;

    background: black;
}

.OpenButton:before, .OpenButton:after {
    content: '';
    position: absolute;

    width: 0.25em;
    height: 60%;

    top: -0.09em;

    background-color: black;
}

.OpenButton::after {
    right: -0.4em;
    transform: rotate(-45deg)
}

.OpenButton::before {
    right: 0.4em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(45deg);
}
