.Footer {
    flex: 1;

    max-height: 2em;
    background-color: yellow;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
}


.ButtonContainer {
    position: relative;
    right: 2em;
    width: 2em;
    height: 2em;
    cursor: pointer;

    transform:  scale(0.8);
}

.ButtonContainer:hover {
    transform: scale(0.9);
}

.OpenButton {
    position: absolute;

    margin-right: 1em;
    top: 1em;

    width: 2em;
    height: 0.25em;

    background: black;
}

.OpenButton:before, .OpenButton:after {
    content: '';
    position: absolute;

    width: 60%;
    height: 0.25em;

    right: -0.09em;

    background-color: black;
}

.OpenButton::after {
    top: -0.4em;
    transform: rotate(45deg)
}

.OpenButton::before {
    top: 0.4em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
