.ContentWrapper {
    background-color: var(--main-bg-color);
    color: var(--primary-fg-color);
    padding: 1em 2em 1em;
}

p {
    font-size: 2em;
    line-height:1.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}


blockquote {
    box-sizing: content-box;

    background: var(--quote-background);

    margin-block: 0;
    margin-inline: 0;

    border: wheat solid;
}

blockquote > p {
    white-space: pre-wrap;

    margin: 0.5em;
    box-sizing: border-box;

    padding: 0 1em 0;
}

pre {
    box-sizing: content-box;
    font-size: 1.5em;
    color: var(--main-bg-color);
    padding: 1em 1em 1em;
    border: whitesmoke solid;
    background-color: var(--secondarry-bg-color);
}
