.Sidebar {
    box-sizing: border-box;

    height: 100%;

    background: var(--main-bg-color);
    transition: all .2s ease-in-out;
    padding: 0.5em;
}


.Content {
    box-sizing: content-box;

    overflow-y: scroll;

    position: sticky;
    top: 3em;

    font-size: 1.5em;

    border-radius: 0.5em;
    border: black solid;
}
