.Home {
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.contentWrap {
    margin-top: 5.45vh;
    display: flex;
    flex-direction: row;
    min-height: 100%;
    position: relative;
}

.sideBar {
    flex: 1;
}
