.Header {
    box-sizing: border-box;

    flex: 1;

    max-height: 3em;
    background-color: rgb(65, 85, 222);
    border: rgb(65, 85, 222) solid;
}

.BurgerContainer {
    width: 3em;
    height: 100%;
}
