.Header {
    box-sizing: border-box;

    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: var(--secondarry-bg-color);
    border: var(--secondarry-bg-color) solid;

    padding-right: 2em;
}

.SearchContainer {
    padding: 0;
    width: fit-content;
    height: fit-content;
}
