.Header {
    box-sizing: border-box;

    flex: 1;

    max-height: 3em;
    background-color: rgb(65, 85, 222);
    border: rgb(65, 85, 222) solid;
}

.BurgerContainer {
    width: 3em;
    height: 100%;
    transition: all .2s ease-in-out;
}

.BurgerContainer[data-isOpen="true"] {
    transform: translateX(-100%) translateX(20vw);
}
