@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


.SearchBox{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.inputSearch{
    box-sizing: border-box;

    height: 3em;
    width: 3em;

    left: 0;
    letter-spacing: 2px;

    border-style: none;

    outline: none;
    border-radius: 50%;

    transition: all .5s ease-in-out;


    padding-right: 3em;
    background-color: var(--primary-fg-color);
    color: #fff;
}

.btnSearch{
    box-sizing: border-box;

    width: 3em;
    height: 3em;
    border-style: none;

    font-weight: bold;
    outline: none;
    cursor: pointer;

    border-radius: 50%;

    position: absolute;
    right: 0;

    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;
}
.btnSearch:focus ~ .inputSearch{
    width: 20em;
    border-radius: 0;
    background-color: transparent;
    padding-right: 0;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.inputSearch::placeholder{
    content: "";
    color: rgba(255,255,255,.5);
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.inputSearch:focus{
    width: 20em;
    border-radius: 0;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
