html {
  height: 100%;
}

root, body {
  margin: 0;
  height: 100%;
  background: var(--main-bg-color);
}

:root {
  --main-bg-color: rgb(43, 43, 43);
  --secondarry-bg-color: rgb(149, 149, 149);
  --quote-background: rgb(91, 91, 91);
  --primary-fg-color: rgb(206, 96, 96);
}

