@import url(https://fonts.googleapis.com/icon?family=Comfortaa);

html {
  height: 100%;
}

html * {
  font-family: 'Comfortaa', sans-serif;
}

root, body {
  margin: 0;
  height: 100%;
  background: var(--main-bg-color);
}

:root {
  --main-bg-color: rgb(167, 198, 255);
  --secondarry-bg-color: rgb(50, 73, 166);
  --quote-background: rgb(91, 91, 91);
  --primary-fg-color: #232328;
}

